/* Universal styling*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

/*<header>, <nav>, and <a> element styling*/

header, nav, a {
    text-align: left;
    color: #e600e6;
}

#beginning {
    text-align: center;
    display: block;
    padding-top: 30px;
}

#title {
    font-weight: bold;
    font-size: 40px;
}

#beginning p {
    font-size: 18px;
}

#gameStart {
    
}

