/*General styling for the body*/

body {
    font-family:Arial, Helvetica, sans-serif;
}

/*Timer styling*/

#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid #000000;
}

/*Styling for the "Start Quiz" button*/

#gameStart {
    background-color: #800080;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: #ffffff;
}

/*Styling for the #questionsDiv*/

#questionDiv {
    margin: 20px;
}

/*Styling for the #currentTime div*/

#currentTime {
    float: right;
}

/*Styling for the #goBack button*/

#back {
    background-color:#800080;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

/*Styling for the #clear button*/

#remove {
    background-color: #800080;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    top: 30%;
    right: 5%;
    text-align: center;
}

/*General button styling*/

button {
    border-radius: 5px;
}

/*Styling for textarea*/

textarea {
    width: 90%;
    margin: 20px;
}

/*Styling for "Submit" button on final page*/

#Submit {
    background-color: #800080;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: #ffffff;
}

/*Styling for label element*/

label {
    margin-right: 10px;
}

/*Styling for the input element*/

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid #cccccc;
}

/*General h1 styling*/

h1 {
    text-align: center;
}

/*General li styling*/

li {
    background-color: #800080;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: #ffffff;
}

/*Styling for #makeDiv*/

#makeDiv {
    margin-top: 20px;
    border-top: 1px solid #cccccc;
}

/*Media queries start here*/

/*media query for max-width:786px*/

@media screen and (max-width: 786px) {
    body {
        max-width: 786px;
    }

    #wrapper {
        position: absolute;
        left: 20%;
    }

    a {
        margin-left: 20%;
    }

    #back {
            
        position: relative;
        left: 55%;
    }

    #remove {
        
        position: relative;
        right: 5%;
        
    }
}

/*media query for max-width 640px*/

@media screen and (max-width: 640px) {
    body {
        min-width: 640px;
    }

    #wrapper {
        position: absolute;
        left: 10%;
    }

      a {
          margin-left: 10%;
      }
}