/* Universal styling*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

/*<header>, <nav>, and <a> element styling*/

header, nav, a {
    text-align: left;
    color: #e600e6;
}

/*General styling for the <section> with the beginning id*/

#beginning {
    text-align: center;
    display: block;
    padding-top: 30px;
}

/*Styling for the <h1> in the #beginning section*/

#title {
    font-weight: bold;
    font-size: 40px;
}

/* Styling for the <p> elements in the #beginning section*/

#beginning p {
    font-size: 18px;
}

/*Styling for the "Start Quiz" button*/

#gameStart {
background-color: #800080;
color: #ffffff;
font-size: 16px;
border-radius: 5px;
width: 10%;
}

/*Styling for <p> elements under .quiz*/

.quiz p {
font-weight: bold;
font-size: 18px;
line-height: 85%;
}

/*Styling for <button> elements under .quiz*/

.quiz button {
    background-color: #800080;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    border-radius: 5px;
    padding-top: 2px;
    margin: 5px;
}

/*General styling for all <div> elements under .quiz*/

.quiz div {
margin: 10px 0px 30px 20px;
position: relative;
right: -420px;
}

/*Styling for final part of the page where users can enter their initals and submit*/

#finished {
    position: relative;
    margin: 10px 0px 30px 20px;
    right: -420px;
}

/*Styling for the <h1> element in #finished <section>*/

#finished h1 {
    font-weight: bold;
    font-size: 20px;
}

/*Styling for the label above the input in #finished <section>*/

#finished label {
    font-size: 15px;
}

#scores {
    position: relative;
    margin: 10px 0px 30px 20px;
    right: -420px; 
}

#scores h1 {
    font-weight: bold;
    font-size: 20px;
}

#scores button {
    display: inline-block;
}



